################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nginx/ssl/privkey.pem
/nginx/ssl/csr.pem
/nginx/ssl/fullchain.pem
