/* Styles for the card container */
.graph {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin: 10px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  /* Title styling within the card */
  .graph h2 {
    margin: 0 0 20px 0;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  /* Ensure the graph fits within the card */
  .recharts-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px; /* Adjust based on your layout */
  }
  
  /* Tooltip styling */
  .recharts-tooltip-wrapper {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 10px;
  }
  
  /* Legend styling */
  .recharts-legend-wrapper {
    padding: 10px;
  }
  
  /* Customize further as needed */
  