.bar-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 20px; /* Space at the bottom */
}

.bar-card {
  width: calc(100% - 40px); /* Assuming a 20px padding is desired on each side */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px; /* Padding inside the card for content */
  margin-bottom: 20px; /* Space at the bottom inside the card */
  display: flex;
  flex-direction: column;
}

.bar-content {
  overflow-y: auto;
  /* Height adjusted to fit within the viewport minus top and bottom padding and header height */
  height: calc(100vh - 450px); /* Adjust 60px if the header height is different */
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0; /* Keep thead at the top of the scroll */
}

tbody {
  display: block;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.red {
  background-color: #ff4c4c;
}

.yellow {
  background-color: #fff200;
}

.status-box-dash {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  min-width: 75px;
}

@media screen and (max-width: 1023px) {
  .bar-card-container {
    margin-top: 10px;
  }

  .bar-card {
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
  }

  .bar-content {
    height: calc(100vh - 70px - 120px);
    overflow-y: auto;
  }

  .bar-card thead,
  .bar-card tbody {
    display: block;
  }

  .bar-card tbody {
    overflow-y: auto;
  }

  .bar-card tr {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
  }

  .bar-card th,
  .bar-card td {
    /* Ensure the table headers and cells are displayed */
    display: none; /* Hide by default */
  }

  /* Specifically targeting the part number and status columns for mobile */
  .bar-card .part-number-column,
  .bar-card .status-column {
    display: flex; /* Display as flex items */
    flex-basis: 50%; /* Give each column half of the row's width */
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align content to the start */
    padding: 8px; /* Maintain padding */
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }

  .bar-card th.part-number-column,
  .bar-card td.part-number-column,
  .bar-card th.status-column,
  .bar-card td.status-column {
    display: block; /* Revert to block to respect the flex layout */
  }
}

