.button-list {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally in the container */
  width: fit-content; /* Width should fit the content */
  padding-left: 0; /* No padding on the left */
  gap: 20px; /* Space between each button */
  margin-top: 150px; /* Space from the top of the container */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.list-button {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 80px; /* Fixed width for buttons */
  height: 80px; /* Fixed height for buttons */
  margin: 5px auto; /* Center button horizontally, with margin top & bottom */
  background-color: #d1cece17; /* Semi-transparent background */
  color: rgb(0, 0, 0); /* Text color */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: Arial, Helvetica, sans-serif; /* Font styling */
  font-size: 14px; /* Font size */
  font-weight: 500; /* Font weight */
  letter-spacing: 1px; /* Space between letters */
  text-decoration: none; /* No underline on text */
  transition: all 0.3s ease; /* Smooth transition for all properties */
  gap: 10px; /* Space between icon and text */
}

.sidebar-container:not(.collapsed) .list-button {
  align-items: left; /* Align items to the left when sidebar is not collapsed */
  padding-left: 60px; /* Add padding on the left */
  gap: 20px; /* Increase space between icon and text */
}

.list-button svg {
  width: 30px; /* Width of the icon */
  height: 30px; /* Height of the icon */
  transition: transform 0.3s ease; /* Smooth transition for icon transformation */
}

.sidebar-container:not(.collapsed) .button-list {
  align-items: left; /* Align items to the left when sidebar is not collapsed */
  padding-left: 60px; /* Add padding on the left */
}
