.button-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content; /* Or specify a width */
  padding-left: 60px;
  gap: 50px;
  margin-top: 150px;
}

  
.list-button {
    /* Style for each button */
    margin: 5px;
    background-color: #d1cece17;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
  
  .list-button:hover {
    /* Hover state style */
    transition: color 0.3s ease;
    color: #aaaaaaaa;
    text-decoration: none;
  };  

  .list-button.list-button.active {
    background-color: #4CAF50; /* Example active color */
    color: white;
  }
