/* Loading.css */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #364b72; /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

.loading-screen.active {
    opacity: 1; /* When active, set opacity to 1 */
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    border: 2px solid #007bff;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: auto;
}

.spinner {
    border: 8px solid rgba(71, 71, 71, 0.637);
    border-top: 8px solid #0b2b61;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
