.graph {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: 80%; /* Example: Change to a percentage or fixed width */
    max-width: 800px; /* Prevents the card from becoming too wide on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 400px; /* Ensure enough vertical space for the graph */
}


.graph h2 {
    margin: 0 0 20px 0;
    color: #333;
    font-size: 20px;
    text-align: center;
}
