/* Sidebar.css */

/* Default styles */
.sidebar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    height: 70px; /* Adjust height as needed */
    background-color: #eeeded; /* Adjust background color */
    z-index: 1000;
    padding: 10px; /* Add padding for spacing */
    position: fixed;
    bottom: 10px;
    left: 10px; /* Add space on the left */
    border-top-left-radius: 10px; /* Add curved corners to top left */
    border-top-right-radius: 10px; /* Add curved corners to top right */
    border-bottom-left-radius: 10px; /* Add curved corners to bottom left */
    border-bottom-right-radius: 10px; /* Add curved corners to bottom right */
}

.bottom-bar-logo-container {
    display: flex;
    align-items: center;
}

.bottom-bar-logo {
    width: auto;
    height: 40px; /* Adjust logo height */
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1; /* Allow buttons to take up remaining space */
}

.list-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.list-button.active {
    color: #007bff; /* Active button color */
}

.list-button svg {
    width: 24px;
    height: 24px;
}

.list-button span {
    font-size: 10px; /* Small font size for button text */
    margin-top: 3px; /* Space between icon and text */
}

.sidebar-footer {
    display: flex;
    align-items: center;
}

.settings-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 20px; /* Adjust spacing */
}

.settings-icon {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 5;
    bottom: 50px;
    right: 60px;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-item {
    background-color: #d1cece;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 16px;
    display: block;
    transition: background-color 0.3s ease;
}

.settings-icon-wrapper:hover, .dropdown-item:hover {
    background-color: #00000050;
}

.settings-icon-wrapper:hover .settings-dropdown,
.settings-dropdown:hover {
    display: block;
}

.user-name-button {
    display: block; /* Show username button by default */
    background-color: #d1cece;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 20px; /* Adjust spacing */
    transition: background-color 0.3s ease;
}

.user-name-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    margin: 10px auto;
    transition: background-color 0.3s ease;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .bottom-bar-logo-container {
        display: none; /* Hide the logo */
    }
    
    .user-name-button {
        display: none; /* Hide the username button */
    }
}
