.topbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 15px;
    border: 3px solid #b3b3b3;
    background-color: #f7f6f6;
    z-index: 1000;
    margin: 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-overlay {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.loading-overlay.hide {
    opacity: 0;
    visibility: hidden;
}

.bottom-bar-logo-container {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.bottom-bar-logo {
    width: auto;
    height: 40px;
}

.bottom-bar-logo-container {
    display: flex;
    align-items: center;
}

.bottom-bar-logo {
    width: auto;
    height: 55px; 
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 100px;
}

.button-list.hover {
    text-decoration: none;
}

.list-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 10px;
}

.list-button.active {
    position: relative;
    color: #000000;
}

.list-button.active::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70px; 
    height: 60px; 
    background-color: rgba(112, 112, 112, 0.5); 
    border-radius: 4px;
    z-index: -1;
}

.list-button svg {
    width: 32px;
    height: 32px;
}

.list-button:hover svg {
    fill: #CCCCCC; 
}

.list-button:hover span {
    fill: #CCCCCC;
    text-decoration: none;
    font-size: 10px;
}

.topbar-footer {
    display: flex;
    align-items: center;
}

.user-info {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.username {
    background-color: #f7f6f6;
    color: black;
    border: none;
    cursor: pointer;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    font-size: 18px;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.logout-icon {
    font-size: 24px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger-menu svg {
    width: 30px;
    height: 30px;
}

@media (max-width: 1023px) {
    .user-info {
        position: relative;
        right: 0px;
        top: 0;
        z-index: 5; 
    }

    .user-info .user-dropdown {
        position: absolute;
        right: 0;
        top: auto;
        bottom: 50px;
        width: 160px;
        background-color: #f9f9f9;
        box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
        padding: 12px 16px;
        z-index: 6;
        border-radius: 4px;
        overflow: hidden;
        display: none;
    }

    .user-info .show-dropdown {
        display: block;
    }

    .nav-dropdown {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background: #ffffff;
        box-shadow: 0px -4px 8px rgba(0,0,0,0.1);
        border-radius: 4px;
        z-index: 10;
        border-top: 1px solid #ddd;
        margin-bottom: 4px;
    }

    .nav-dropdown.show {
        display: flex;
        flex-direction: column;
        opacity: 1;
        animation: fadeInDropdown 0.3s forwards;
    }

    .nav-dropdown a {
        padding: 12px 16px;
        font-size: 16px;
        color: #333;
        display: flex;
        align-items: center;
        text-align: left;
        gap: 10px;
        border-bottom: 1px solid #ddd;
    }

    .nav-dropdown a:last-child {
        border-bottom: none;
    }

    .nav-dropdown .active {
        background-color: #f0f0f0;
    }

    @keyframes fadeInDropdown {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .hamburger-menu {
        display: none;
        cursor: pointer;
        padding: 10px;
    }

    .hamburger-menu svg {
        width: 30px;
        height: 30px;
    }

    .hamburger-menu {
        display: block;
    }

    .button-list {
        display: none;
    }

    .bottom-bar-logo-container,
    .user-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .bottom-bar-logo-container {
        left: 15px;
    }

    .user-info {
        right: 15px;
    }
}



@media (min-width: 769px) {
    .topbar-container {
        top: 10px;
        bottom: auto;
    }
}


@media (max-width: 1023px) {
    .topbar-container {
        bottom: 10px;
        top: auto;
    }

    .bottom-bar-logo-container, .user-name-button {
        display: none;
    }
}

.user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10000;
    border-radius: 4px;
    overflow: hidden;
}

.user-dropdown button {
    background-color: #f9f9f9;
    color: black;
    padding: 12px 16px;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.user-dropdown button:hover {
    background-color: #ddd;
    border-radius: 8px;
}

.username:hover {
    background-color: #ddd;
    border-radius: 8px;
    padding: 5px;
}

.show-dropdown {
    display: block;
}