/* Styles for the topbar container */
.topbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 15px;
    border: 4px solid #b3b3b3;
    background-color: #f7f6f6;
    z-index: 1000;
    margin: 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.loading-overlay {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.loading-overlay.hide {
    opacity: 0;
    visibility: hidden;
}


.bottom-bar-logo-container {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.bottom-bar-logo {
    width: auto;
    height: 40px; /* Adjust logo height */
}

.bottom-bar-logo-container {
    display: flex;
    align-items: center;
}

.bottom-bar-logo {
    width: auto;
    height: 40px; 
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 100px;
}

.button-list.hover {
    text-decoration: none;
}

.list-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 10px;
}

.list-button.active {
    position: relative;
    color: #000000;
}

.list-button.active::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70px; 
    height: 60px; 
    background-color: rgba(112, 112, 112, 0.5); 
    border-radius: 4px;
    z-index: -1;
}

.list-button svg {
    width: 24px;
    height: 24px;
}

.list-button:hover svg {
    fill: #CCCCCC; 
}

.list-button:hover span {
    fill: #CCCCCC;
    text-decoration: none;
    font-size: 10px;
}

.topbar-footer {
    display: flex;
    align-items: center;
}

/* User information and logout button */
.user-info {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

/* Username display with fixed width and overflow handling */
.username {
    background-color: #f7f6f6;
    color: black;
    border: none;
    max-width: 120px; /* Fixed width for the username container */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) if the username is too long */
    padding-right: 10px; /* Space before the logout button */
}

/* Styles for the logout button */
.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.logout-icon {
    font-size: 24px; /* Logout icon size */
}



@media (min-width: 769px) {
    .topbar-container {
        top: 10px; /* Position at the top for desktop */
        bottom: auto; /* Reset bottom property */
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .topbar-container {
        bottom: 10px; /* Position at the bottom for mobile */
        top: auto; /* Reset top property */
    }

    /* Hide certain elements on mobile for a cleaner look */
    .bottom-bar-logo-container, .user-name-button {
        display: none;
    }
}

.user-dropdown {
    position: absolute;
    right: 0;
    top: 100%; /* Position it below the username button */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10000;
    border-radius: 4px; /* Rounded corners */
    overflow: hidden; /* Ensures that child elements do not overflow the rounded corners */
}

.user-dropdown button {
    background-color: #f9f9f9;
    color: black;
    padding: 12px 16px;
    width: 100%; /* Make button expand to the full width of the dropdown */
    text-align: center; /* Align text to the left */
    border: none;
    cursor: pointer;
  }
  
.user-dropdown button:hover {
    background-color: #ddd; /* Light gray background on hover */
}

.username:hover {
    background-color: #ddd; /* Light gray background on hover */
}