.customers {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.customers-main {
    display: flex;
    margin-top: 90px;
    margin-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

.customers-main::before {
  content: "";
  position: fixed; /* Fixed to the viewport */
  top: 0px; /* Anchored at the bottom of the viewport */
  left: 0;
  right: 0;
  height: 120px; /* Height of the fade effect */
  background: linear-gradient(to top, #364b7200 0%, #05132c 100%); /* Gradient starts transparent and becomes solid at the bottom */
  z-index: 10;
  pointer-events: none; /* Ensures clicks pass through */
}

.customers-main::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px; /* Height of the fade effect */
  background: linear-gradient(to bottom, #364b7200 0%, #05132c 100%);
  z-index: 10;
  pointer-events: none; /* Ensures clicks pass through */
}

.customer-table {
  flex-grow: 1;
  background-color: #fff;
  border: 3px solid #b3b3b3;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  /* margin: 0 10px 10px 10px; Adjust right margin to match the top bar */
  display: flex;
  flex-direction: column;
  width: calc(100%); /* Adjust width to account for margins */
}

.table-header {
  background-color: #0b2b61;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-content-jobs {
  table-layout: fixed;
  width: 100%;
}

.table-content-jobs table {
  border-collapse: collapse;
  width: 100%;
}

.table-content-jobs thead,
.table-content-jobs th {
  position: sticky;
  top: 0;
  background-color: #ebebeb;
  z-index: 10; /* ensures the header stays on top */
}

.table-content-jobs tbody {
  display: block;
  overflow-y: auto;
  max-height: calc(100vh - 225px); /* Adjust this value based on your layout */
  width: 100%;
}

.table-content-jobs th, 
.table-content-jobs td {
  padding: 12px;
  text-align: left;
  white-space: nowrap; /* Prevents the text from wrapping onto multiple lines */
  overflow: hidden; /* Keeps the text inside the element's bounds */
  /* text-overflow: ellipsis; Adds ellipsis when text is clipped */
  position: sticky; /* Make sure headers stay at the top when scrolling */
  top: 0;
  z-index: 10; /* Ensures the header stays on top */
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.table-content-jobs tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Make sure that the table content does not stretch beyond the container */
}


.table-content-jobs th {
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  padding: 12px;
  text-align: left;
  white-space: nowrap; /* Prevents the text from wrapping onto multiple lines */
  overflow: hidden; /* Keeps the text inside the element's bounds */
  text-overflow: ellipsis; /* Adds ellipsis when text is clipped */
  position: sticky; /* Make sure headers stay at the top when scrolling */
  top: 0;
  z-index: 10; /* Ensures the header stays on top */
}

.table-content-jobs tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-content-jobs tr:hover {
  background-color: #ddd;
}

.table-content-jobs::-webkit-scrollbar {
  height: 8px;
}

.table-content-jobs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-content-jobs::-webkit-scrollbar-thumb {
  background: #888;
}

.table-content-jobs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.table-content-jobs tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-content-jobs tr:hover {
  background-color: #ddd;
}

.header-controls {
  display: flex;
  align-items: center; /* Centers the items vertically */
  justify-content: flex-start; /* Aligns items to the left */
}

.search-input-jobs {
  flex-grow: 1; /* Allows the search input to take available horizontal space */
  margin-right: 10px; /* Adds spacing between the search input and the add button */
}

.add-button {
    margin-left: auto;
    padding: 10px 15px;
    background-color: #0b2b61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-button:hover {
    background-color: #083d77;
}

/* Style for add job form if it's a modal or inline form */
.add-job-form {
    padding: 15px;
    margin: 15px 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Additional form field styling */
.add-job-form input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-job-form button {
    padding: 10px 15px;
    margin-right: 10px;
}

.add-job-button:hover {
    background-color: #083d77; /* A slightly darker blue on hover */
}

.selected {
    background-color: #e8f0fe; /* Or any other color you prefer */
  }
  
  .job-details {
    display: none; /* Initially hide the details */
  }
  
  .job-details td {
    background-color: #f7f7f7; /* Slightly different background for contrast */
    padding: 15px; /* More padding for detail rows */
  }
  
  /* Style to show the job details when the job row is clicked */
  .selected + .job-details {
    display: table-row; /* Show the details */
  }
/* Modal Styles */
.modalAddJob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1010; /* Make sure it's above other elements */
  }
  
  .modalAddJob-content {
    background-color: white;
    border: 4px solid #007bff;
    padding: 0px; /* Adjust padding as needed */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Or your desired width */
    max-width: 800px; /* Adjust to the desired max-width */
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.modalAddJob-header {
    background-color: #0b2b61;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modalAddJob-header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}
  
.close-modalAddJob {
  font-size: 1rem; /* Smaller font size */
  line-height: 1; /* Adjust line height to remove extra space */
  color: white; /* White color for the 'X' */
  padding: 0.5rem; /* Smaller padding */
  position: absolute; /* Positioning it absolutely */
  top: 0.5rem; /* Position towards the top */
  right: 0.5rem; /* Position towards the right */
  background: none;
  border: none;
  cursor: pointer;
}


.modalAddJob-body {
  padding: 1rem;
}

.modalAddJob-body label {
  display: block;
  margin: 0.5rem 0;
}

.modalAddJob-body input[type="text"],
.modalAddJob-body input[type="tel"],
.modalAddJob-body input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.modalAddJob-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modalAddJob-footer .btn {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #0b2b61;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.9;
}

.job-details-expanded {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.job-details-section {
  background-color: #f9f9f9; /* Light gray background for each section */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px; /* Adds space between sections if needed */
}

.job-details-content {
  display: flex;
  justify-content: space-around;
}

.order-details, .invoice-details, .estimate-details {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-details-content h4 {
  text-align: center;
  margin-bottom: 10px;
}

.details-button-container {
  margin-top: 5px; /* Adds space between the buttons */
}

.details-btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 10px; /* Add margin for vertical spacing */
  background-color: #0b2b61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.details-btn:hover {
  background-color: #083d77;
}

/* This is a new section for the parts*/

/* Specific styles for the Necessary Parts and Used Parts tables */
.necessary-parts-table, .used-parts-table {
  margin-top: 10px;
}

/* Add custom styles for the action buttons in each section if needed */
.add-part-btn {
  background-color: #28a745; /* A green color for add part button */
  color: white;
}

.add-part-btn:hover {
  background-color: #218838; /* Darker green on hover */
}
.parts-section {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.parts-section h5 {
  margin-bottom: 10px;
}

.parts-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.parts-section table th, 
.parts-section table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.parts-section table th {
  background-color: #0b2b61;
  color: white;
}

.parts-section .details-button-container {
  margin-top: 5px;
  text-align: right;
}

/* Add Part Modal Styles */
.addPartModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it's above other modal elements */
}

.addPartModal-content {
  background-color: white;
  border: 2px solid #007bff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60%; /* Adjust based on your preference */
  max-width: 600px; /* Maximum width */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensures the content does not overflow the modal */
}

.addPartModal-header {
  background-color: #0b2b61;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addPartModal-header h2 {
  margin: 0;
  font-size: 1.25rem;
}

.addPartModal-close {
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.25rem;
}

.addPartModal-body {
  padding: 10px;
  max-height: 400px; /* Maximum body height */
  overflow-y: auto; /* Enable scroll if content exceeds maximum height */
}

.addPartModal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.addPartModal-footer .btn {
  margin-left: 10px;
}
.edit-btn,
.remove-btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #4CAF50; /* Green background for edit */
    color: white;
}

.edit-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.remove-btn {
    background-color: #f44336; /* Red background for remove */
    color: white;
}

.remove-btn:hover {
    background-color: #da190b; /* Darker red on hover */
}
.filtering-box-jobs {
  margin-bottom: 10px;
  top: 0; /* Align to the top of its container */
  left: 0; /* Align to the left of its container */
  width: 33%; /* Take up 1/3rd of the screen width */
  padding: 10px; /* Adjust padding to your preference */
  background-color: #fff; /* Keep the background color */
  border: 2px solid #b3b3b3; /* Adjust border thickness */
  border-radius: 10px; /* Adjust border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search-input-jobs {
  width: 100%; /* Input field takes full width of its container */
  padding: 8px; /* Padding inside the input field */
  margin-top: 5px; /* Margin at the top of the input field */
  border: 1px solid #ccc; /* Border around the input field */
  border-radius: 5px; /* Rounded corners for the input field */
}

@media screen and (max-width: 1023px) {
  .customers-main {
    flex-direction: column;
    display: flex;
    padding-right: 0;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 90px;
  }

  .customers-main::before,
  .customers-main::after {
    /* Remove the gradient effects on smaller screens for a cleaner look */
    display: none;
  }

  .customer-table {
    border: 2px solid #b3b3b3; /* Lighter border */
    border-radius: 10px; /* Consistent border radius */
    margin: 0; /* Remove margin */
    width: 100%; /* Full width */
  }

  .table-header {
    font-size: 16px; /* Smaller font size for the header */
    padding: 10px; /* Reduced padding */
  }

  .table-content-jobs {
    font-size: 14px; /* Smaller font size for table content */
  }

  .table-content-jobs th, .table-content-jobs td {
    padding: 8px; /* Reduced padding */
  }

  .table-content-jobs tbody {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 210px);
    width: 100%;
}

  .table-content-jobs tr:hover {
    background-color: #eee; /* Lighter hover background */
  }

  .table-content-jobs th.ignore-column, .table-content-jobs td.ignore-column {
    display: none; /* Initially hide all table headers and cells */
  }

  .table-content-jobs th.address-column,
  .table-content-jobs td.address-column,
  .table-content-jobs th.actions-column,
  .table-content-jobs td.actions-column {
    display: table-cell; /* Only show address and actions columns */
    padding: 8px; /* Adjust padding */
  }

  .table-content-jobs td.actions-column button {
    padding: 10px 15px; /* Increase button padding */
    font-size: 14px; /* Increase font size for better legibility */
  }

  .actions-column {
    display: table-cell; /* Ensure the actions column is displayed */
  }

  .edit-btn,
  .remove-btn {
    padding: 8px 12px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
    margin: 4px; /* Add some margin around buttons */
  }

  .details-button-container button {
    display: block; /* Stack buttons vertically */
    width: 100%; /* Full width of the column */
    margin-bottom: 5px; /* Space between buttons */
  }

  /* Last button shouldn't have a margin at the bottom to align with the design */
  .details-button-container button:last-child {
    margin-bottom: 0;
  }

  .actions-column button {
    display: block; /* Stack buttons vertically */
    width: 100%; /* Full width of the column */
    margin-bottom: 5px; /* Space between buttons */
  }

  /* Last button shouldn't have a margin at the bottom to align with the design */
  .actions-column button:last-child {
    margin-bottom: 0;
  }
}
