/* This styles the body of the document */
body, html {
    height: 100%;
    margin: 0;
}

/* This styles the .customers-container div */
.customers-container {
    display: flex; /* Enables Flexbox for this container */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    height: 100vh; /* Sets the height of the div to the full viewport height */
    text-align: center; /* Ensures the text inside the div is centered, if needed */
}
