.dashboard {
    display: flex;

    gap:5px;
  }
  .card-container {
    display: flex;
    gap: 5px; /* Adjust the space between cards */
    overflow-x: auto; /* Enables horizontal scrolling for smaller screens */
}

 
  
  