.sidebar-image {
  width: 207px;
  height: 70px;
  margin-top: 25px;
  margin-left: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity */
}

.sidebar-container { 
  display: flex;
  width: 250px;
  height: 100vh; /* Full height of the viewport */
  align-items: left;
  background-color: #d1cecebd;
  flex-direction: column;
  position: fixed; /* Fixed position to the left of the screen */
}

.sidebar-image:hover {
  opacity: 0.7; /* Slightly reduce the opacity */
}

.Account
{
   width: 50px; /* Set both width and height to the same value */
  height: 50px;
  border-radius: 50%; /* This makes the button circular */
  border: none;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  cursor: pointer;
  margin-top: 50px;
}