body {
    font-family: 'Roboto', sans-serif;
}

.inventory {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.inventory-main {
    display: flex;
    margin-top: 90px;
    margin-left: 0px;
    padding-right: 250px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.inventory-main::before {
    content: "";
    position: fixed; /* Fixed to the viewport */
    top: 0px; /* Anchored at the bottom of the viewport */
    left: 0;
    right: 0;
    height: 120px; /* Height of the fade effect */
    background: linear-gradient(to top, #364b7200 0%, #05132c 100%); /* Gradient starts transparent and becomes solid at the bottom */
    z-index: 10;
    pointer-events: none; /* Ensures clicks pass through */
}

.inventory-main::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px; /* Height of the fade effect */
    background: linear-gradient(to bottom, #364b7200 0%, #05132c 100%);
    z-index: 10;
    pointer-events: none; /* Ensures clicks pass through */
}

.product-table {
    flex-grow: 1;
    background-color: #fff;
    border: 4px solid #b3b3b3;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
}

.product-details-content {
    padding: 20px;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
}

.product-details-content p {
    margin: 10px 0;
    line-height: 1.5;
    color: #333;
}

.product-details-content strong {
    color: #000;
}

.product-details.expanded td {
    background-color: rgba(238, 238, 238, 0.7);
    color: #fff;
}

.status-box {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    min-width: 75px;
}

.sortable-header {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    font-size: 19px;
    text-align: left;
    width: 100%;
    display: block;
}

th {
padding: 8px;
}

.sortable-header:hover {
text-decoration: none;
}


/* Styles for items in stock */
.inv-in-stock {
    background-color: #28a745; /* Green */
    content: "In Stock";
}

/* Styles for items out of stock */
.inv-out-of-stock {
    background-color: #dc3545; /* Red */
    content: "Out of Stock";
}


.table-header {
    background-color: #081e44;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #f8f8f8;
    color: #0b2b61;
    border-radius: 5px;
}

.table-content {
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
}

.table-content table {
    border-collapse: collapse;
    width: 100%;
}

.table-content th,
.table-content td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table-content th {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
}

.table-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-content tr:hover {
    background-color: #ddd;
}

.table-content::-webkit-scrollbar {
    height: 8px;
}

.table-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-content::-webkit-scrollbar-thumb {
    background: #888;
}

.table-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.product-details td {
    background-color: #f9f9f9; /* Lighter background for expanded details */
}

.product-details-content p {
    margin: 5px 0;
}


.th { 
    width: 150px; 
}

.status-column, .status-box-container {
    width: 150px; /* Adjust based on your needs */
    text-align: center; /* Center the content */
}

.quantity-edit-container {
    display: flex;
    justify-content: space-between; /* Aligns the button to the right */
    align-items: center;
}

.edit-quantity-btn {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #001f41; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.edit-quantity-btn:hover {
    background-color: #0056b3; /* A darker shade for hover effect */
}

.filter-category {
    margin-bottom: 20px;
}

.filter-category h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0b2b61;
    position: relative; /* This makes the pseudo-element positioning relative to this header */
}

.filter-category h3::after {
    content: "";
    display: block;
    width: 100%; /* Adjust this value to change the width of the line */
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, rgba(11, 43, 97, 0), #0b2b61, rgba(11, 43, 97, 0)); /* Gradient with faded ends */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers the line */
    bottom: -5px; /* Adjust this value to move the line up or down */
}


.category-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.category-checkbox input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.category-checkbox label {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #333; /* Arrow color */
}

.custom-select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.custom-select:focus {
    border-color: #45aaf2;
    outline: none;
    box-shadow: 0 0 5px rgba(69, 170, 242, 0.5);
}

.filtering-box {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 250px;
    height: calc(100vh - 105px);
    padding: 20px;
    background-color: #fff;
    border: 4px solid #b3b3b3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 900;
}

.filtering-box:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Deeper shadow for elevated effect */
}

.filtering-box .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #0b2b61;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    font-size: 16px;
}

.filtering-box .action-button {
    width: 100%;
    padding: 10px;
    background-color: #0b2b61;
    color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.filtering-box .action-button:hover {
    background-color: #083d77;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* Enhanced shadow on hover for a raised effect */
}

/* Hide vertical scrollbar for Webkit browsers like Chrome, Safari */
.filtering-box::-webkit-scrollbar {
    width: 0px; /* For vertical scrollbars */
    background: transparent; /* Optional: just to make sure it's fully invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.filtering-box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.category-checkbox input[type="checkbox"] {
    accent-color: #0b2b61; /* Use the main color theme for the checkbox */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 576px) {
    .input-group {
        flex-direction: column;
    }

    .input-group > div {
        flex-basis: 100%;
    }
}

.product-details-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-details-block {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 4px;
}

/* Container for Edit and Delete buttons */
.product-action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width to center the buttons */
    margin-top: 20px; /* Space from the product details */
}

/* Common styles for Edit and Delete buttons */
.product-action-button {
    width: 40%; /* 60% of the parent's width */
    padding: 10px;
    margin-bottom: 10px; /* Space between buttons */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Specific styles for Edit button */
.edit-button {
    background-color: #001f41; /* Blue */
}

.edit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Specific styles for Delete button */
.delete-button {
    background-color: #dc3545; /* Red */
    margin-bottom: 0; /* No margin at the bottom for the last button */
}

.delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

@media screen and (max-width: 1023px) {
    .product-details-grid {
        grid-template-columns: 1fr;
    }

    .inventory-main {
        flex-direction: column;
        padding-right: 0;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 90px;
    }

    .product-table,
    .filtering-box {
        margin: 0; 
        width: 100%;
        box-sizing: border-box;
    }

    .table-content {
        width: 100%;
    }

    .table-content table {
        width: 100%;
    }

    .filtering-box {
        position: static;
        height: auto;
        padding: 20px;
        overflow-y: auto;
        margin-top: 10px;
    }

    .filtering-box .search-input,
    .filtering-box .action-button,
    .filtering-box select {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .product-action-buttons,
    .product-action-button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .inventory-main::before,
    .inventory-main::after {
        display: none;
    }

    .status-box {
        padding: 8px 0; /* Increase padding top and bottom to make the bar taller */
        color: transparent; /* Hide the text on mobile */
        font-size: 0; /* Collapse the text size */
        min-width: 10vw; /* Responsive minimum width */
        max-width: 100%; /* Prevents the bar from overflowing */
        width: 100%; /* Full width of the container */
    }

    /* Maintain the min-width for better visibility of the status bar on mobile */
    .status-box:after {
        content: '';
        display: inline-block;
        min-width: 75px;
    }
}


/* Improve the look of the dropdown elements for a cleaner appearance */
.custom-dropdown::after{
    display: none; /* Simplify design by removing custom dropdown styles */
}

/* Make the add button easier to tap */
.add-button {
    padding: 8px 12px; /* Increase padding for a larger tap area */
    font-size: 16px; /* Slightly larger font for visibility */
}
