.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}  

.logo-container {
    margin-bottom: 20px;
}

.company-logo {
    width: 300px;
    height: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.login-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
