.deliverables-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the items horizontally */
}

.deliverable {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    background-color: #2f3e46;
    color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.deliverable:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.deliverable h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.deliverable a {
    color: #808080;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s ease;
}

.deliverable a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .deliverable {
        width: calc(100% - 40px);
    }
}
