.home-container {
    text-align: center;
}

.section {
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
    background-color: #2f3e46;
    color: #ffffff;
}

.section h3 {
    color: #ffffff;
}

.section p {
    color: #bebebe;
}

.section li {
    color: #bebebe;
    text-align: left;
}

ul.project-goals {
    list-style-type: none;
    margin: 20px auto;
    padding: 15px;
    background-color: #2f3e46;
    color: #ffffff;
    width: 80%;
    box-sizing: border-box;
    max-width: 600px;
}

ul.project-goals li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: #bebebe;
    transition: background-color 0.3s ease;
}

ul.project-goals li:hover {
    background-color: #374955;
}

ul.project-goals li:last-child {
    border-bottom: none;
}
