.navbar {
    background-color: #526e41;
    border-bottom: 2px solid white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: 80px;
}

.navbar-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(133, 133, 133);
    border-radius: 4px;
}

