    .team-container {
        text-align: center;
    }
    
    .member {
        margin: 20px;
        padding: 10px;
        border: 2px solid #ffffff;
        border-radius: 8px;
        display: inline-block;
        width: calc(100% / 3 - 40px);
        background-color: #2f3e46;
        color: #ffffff;
    }
    
    .member h3 {
        color: #ffffff;
    }
    
    .member p {
        color: #bebebe;
    }