    .team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .team-title {
        padding: 10px;
        background-color: #526e41;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        border: 3px solid white;
    }

    .profile-pic {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        max-height: 150px;
        border: 3px solid white;
    }
    
    .member {
        text-align: center;
        margin: 20px;
        padding: 10px;
        border: 2px solid #ffffff;
        border-radius: 8px;
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 3 - 40px);
        background-color: #2f3e46;
        color: #ffffff;
    }
    
    .member h3 {
        color: #ffffff;
    }
    
    .member p {
        color: #bebebe;
    }